@model HospitalProject.Models.JobApplication

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>JobApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="jobApplicationID" />
            <div class="form-group">
                <label asp-for="applicantName" class="control-label"></label>
                <input asp-for="applicantName" class="form-control" />
                <span asp-validation-for="applicantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicantEmail" class="control-label"></label>
                <input asp-for="applicantEmail" class="form-control" />
                <span asp-validation-for="applicantEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicationDate" class="control-label"></label>
                <input asp-for="applicationDate" class="form-control" />
                <span asp-validation-for="applicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jobPostingID" class="control-label"></label>
                <select asp-for="jobPostingID" class="form-control" asp-items="ViewBag.jobPostingID"></select>
                <span asp-validation-for="jobPostingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
