@model HospitalProject.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="client_fname" class="control-label"></label>
                <input asp-for="client_fname" class="form-control" />
                <span asp-validation-for="client_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_lname" class="control-label"></label>
                <input asp-for="client_lname" class="form-control" />
                <span asp-validation-for="client_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_phone" class="control-label"></label>
                <input asp-for="client_phone" class="form-control" />
                <span asp-validation-for="client_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_emailadd" class="control-label"></label>
                <input asp-for="client_emailadd" class="form-control" />
                <span asp-validation-for="client_emailadd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client_doctor_id" class="control-label"></label>
                <input asp-for="client_doctor_id" class="form-control" />
                <span asp-validation-for="client_doctor_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_time" class="control-label"></label>
                <input asp-for="date_time" class="form-control" />
                <span asp-validation-for="date_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointment_details" class="control-label"></label>
                <input asp-for="appointment_details" class="form-control" />
                <span asp-validation-for="appointment_details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
